<div class="container">
  <h1 class="welcome-title">Welkom op 1.5 meter spellen.nl</h1>
  <article class="welcome-text">
    Op deze website vind je spellen of activiteiten voor alle leeftijdscategorieën waarbij de deelnemers anderhalve meter afstand van elkaar kunnen houden! Ben je op zoek naar een spel voor op het schoolplein, Scouting, de voetbal, thuis of waar dan ook dan ben je hier op het juiste adres. <br /> <br />
    Heb je zelf een tof idee en wil je die delen met de rest, voeg dan je spel toe aan deze pagina! 
  </article>
</div>

<app-filter-games (filter)="onFilter($event)"></app-filter-games>

<mat-accordion>
    <app-game-detail [game]="game" *ngFor="let game of allGames | async"></app-game-detail>
</mat-accordion>
<div *ngIf="(allGames | async)?.length==0">
  Helaas je zoekopdracht heeft geen resultaten!
</div>

<button class="add-game" mat-fab color="primary" (click)="openNewGameDialog()">
  <mat-icon>add</mat-icon>
</button>
